* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

/* nav section */
.form-inline {
  margin: 0;
}

.form-inline input {
  position: relative;
}
.card {
  width: 200px;
  height: 130px;
  position: absolute;
  background-color: #eee;
  top: 55px;
  left: 5px;
  border-radius: 10px;
  display: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list li {
  border-bottom: 1px solid black;
  padding-left: 10px;
}
.done {
  display: block;
}

/* main section */

.container-fluid {
  background-color: aqua;
  height: 100vh;
}
.row {
  margin: 0;
}

.letter-bar,
.split-bar {
  background-color: black;
}
.letter-bar li,
.split-bar h6 {
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: #fff;
  margin: 0;
}

.letters li {
  padding: 10px;
}
